<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= user.username %></li>
  <% end %>
</ul>

<%= form_for(@comment) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.collection_check_boxes :user_id, User.all, :id, :username %>
  <%= f.fields_for :categories, @post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <%= f.submit %>
  <% end %>
<% end %>
