<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<%= form_for(@comment) do |f| %>
  <%= f.collection_check_boxes :user_ids, User.all, :id, :username %>
<% end %>
